<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Register</title>
</head>
<body style="background-image: url(../static/assests/19.jpeg);background-repeat: no-repeat;background-size: cover;">
    <h1 style="position:absolute;top: 25%; left: 44%; color: rgb(255, 0, 0);">Register Page</h1>

    <form method="post" action="{{ url_for('register') }}" id="registerForm" style="color: rgb(0, 200, 255);">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Register</button>
    </form>

    <p style="position:absolute;top: 65%; left: 43%; color: rgb(82, 46, 160);">Already have an account Click <a style="color: red;" href="{{ url_for('login') }}">Login here</a>.</p>
</body>
</html>
